<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<nav class="navbar" style="background-color: #8ea85e;">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size:30px">Warehouse Application </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/getProducts">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/getWarehouses">Warehouse</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

<h4>Add products</h4>

<form class="form-group" method="post" th:action="@{/add-new-product}" th:object="${product}">

    <label for="id">Id:</label><br>
    <input type="number" class="form-control" id="id" name="id" th:field="*{id}">

    <label for="name">Name:</label><br>
    <input type="text" class="form-control" id="name" name="name" th:field="*{name}">

    <label for="quantity">Quantity:</label><br>
    <input type="int" class="form-control" id="quantity" name="quantity" th:field="*{quantity}">

    <label for="category">Category:</label><br>
    <input type="text" class="form-control" id="category" name="category" th:field="*{category}">

    <label for="price">Price:</label><br>
    <input type="text" class="form-control" id="price" name="price" th:field="*{price}">

    <label for="description">Description:</label><br>
    <input type="text" class="form-control" id="description" name="description" th:field="*{description}">

    <label for="warehouses">Warehouse:</label> <br>
    <select name="warehouses" class="form-control" id="warehouses" th:field="*{warehouse.id}">
            <option th:each="warehouse: ${warehouses}" th:value="${warehouse.id}" th:text="${warehouse.name}"></option>

    </select>

    <br><br>

    <button class="btn btn-success" type="submit">Submit</button>

</form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>

</body>
</html>